*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}
.flex{
  display: flex;
}


.main-nav{
  justify-content: space-around;
  align-items: center;
  background-color:#FF6900 ;
  color: white;
  padding: 20px 0;
}
.sex-choice > a{
  color: white;
  font-size: 16px;
}

.container{
  margin: 0 auto;
  max-width: 1200px;
  flex-wrap: wrap;
  padding-top: 60px;
}

.item{
  width: calc(100% / 3);
  padding: 0px 10px;
  
}
.item .item-img{
  width: 100% ;
  
}
.item-tag-sale, .item-tag-green{
  padding: 7px 11px;
  display: inline-block;
}  
.item-tag-sale{
  background-color: red;
}
.item-tag-green{
  background-color: green;
  
}
.item-top{
  position: relative;
}
.item-tag{
  position: absolute;
  left: 0;
  bottom: 70px;
  color: white;
}
.wishlist{
  position: absolute;
  top: 10px;
  right: 0;
  background-color: white;
  line-height: 40px;
  padding: 0 12px;
  font-size: 18px;
}
.wishlist > a{
  color: black;
}
.item-brand{
  font-style: normal;
  font-weight: 300;
}
